<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGL5amKqnsDAgiVhTW8h06CxEGmQIxYM4</string>
	<key>GCM_SENDER_ID</key>
	<string>629458881090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.hobogames.sc2Leaderboards</string>
	<key>PROJECT_ID</key>
	<string>sc2leaderboards</string>
	<key>STORAGE_BUCKET</key>
	<string>sc2leaderboards.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629458881090:ios:675a748cb1673760783bdb</string>
</dict>
</plist>